html, body, main {
    height: 100%;
    width: 100%;
} 

nav{
    width: 300px;
    height: 100%;
    position: absolute;
    transform: translate(-300px,0);
    transition: transform 0.3s ease;
}

nav.open {
    transform: translate(0,0);
}

.dark_blue{
    background:rgb(0,20, 100);
}

.light_blue{
    background: blue;
}

i{
  color:white;   
  font-size: 20px;
  margin: 10px;
}

@media screen and (min-width: 600px){
    nav {
        position: relative;
        transform: translate(0,0)
    }

    body{
        display: flex;
        flex-flow: row nowrap;
    }

    main{
        width: auto;
        flex-grow: 1;
    }

}

